<!doctype html>
<html>
  <head>
    <title>AddBook</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Bertie's books: add books</h1>
    <form method="POST" action="/bookadded">
        <label for="fname">Book Name:</label>
        <input id="name" type="text" name="name" value="" /> <br>
        <br> <label for="fname">Price:</label>
        <input id="price" type="text" name="price" value="" /> <br>
        <br> <input type="submit" value="OK" />
  </body>
</html>