<!doctype html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
        <p>First name: <input id="first" type="text" name="first" placeholder="Enter First Name" value="" /></p>
        <p>Last name: <input id="last" type="text" name="last" placeholder="Enter Last Name" value="" /></p>
        <p>Username: <input id="last" type="text" name="username" placeholder="Enter Username" value="" /></p>
        <p>Password: <input id="last" type="password3" name="password" placeholder="Enter Password" value="" /></p>
        <p>Email: <input id="email" type="email" name="email" placeholder="Enter Email" value="" /></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>